body{
  background-color: rgba(0, 123, 255, 0.20);
}

h1{
  margin-top: 0px;
  font-size: 70px;
  background: linear-gradient(135deg, #0d6efd, #6ea8fe);
  color: #fff;
  padding:10px;
  border-radius: 20px;
  width: fit-content;
  margin-left:350PX  ;
  transition: 0.5s;
}
h1:hover{
    transform: scale(1.05);} 
div{
    height:40px;
    width: 50px;
    margin: 1px;
     margin-left: 600px;
}
.div1{
  background-color: rgba(0, 123, 255, 0.90);
  color:  rgba(0, 123, 255, 0.90);
}
.div2{
  background-color: rgba(0, 123, 255, 0.80);
  color:  rgba(0, 123, 255, 0.80);
}
.div3{
  background-color: rgba(0, 123, 255, 0.70);
  color: rgba(0, 123, 255, 0.70);
}
.div4{
  background-color: rgba(0, 123, 255, 0.60);
  color: rgba(0, 123, 255, 0.60);
}
.div5{
  background-color: rgba(0, 123, 255, 0.50);
  color: rgba(0, 123, 255, 0.50);
}
.div6{
  background-color: rgba(0, 123, 255, 0.40);
  color: rgba(0, 123, 255, 0.40);
}
.div7{
  background-color: rgba(0, 123, 255, 0.30);
  color: rgba(0, 123, 255, 0.30);
}
.div8{
  background-color: rgba(0, 123, 255, 0.20);
  color: rgba(0, 123, 255, 0.20);
}
.div9{
  background-color: rgba(0, 123, 255, 0.10);
  color:  rgba(0, 123, 255, 0.10);
}
.div10{
  background-color: rgba(0, 123, 255, 0.05);
  color: rgba(0, 123, 255, 0.05);
}


